*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin:0;
    padding:0;
}
.collegeLogo{
    position:relative;
    left:50%;
    transform:translate(-50%);
    width:180px;
    height:55px;
}

nav{
    height:50px;
    background-color:#3C358D;
}
.menu{
    /* float:right; */
    position:absolute;
    right:27%;
    line-height:20px;
}
.menu a{
    color:white;
    text-decoration:none;
    padding:0 25px;
    
}
.show-menu-btn, .hide-menu-btn{
    transition:400ms;
    color:white;
    cursor:pointer;
    display:none;
}
.show-menu-btn{
    float:right;
}
.show-menu-btn i{
    line-height: 55px;
}
#chk{
    position:absolute;
    visibility:hidden;
    z-index: -1111;
}

/* popup */

.popup{
    width:400px;
    height:250px;
    background-color:white;
    position:fixed;
    right:0;
    bottom: 0;
    z-index:99;
    border-radius:48px 48px 48px 48px;
    margin-right:10px;
    transition: 800ms;
}
.popupHeading{
    text-align:center;
    font-weight:bold;
    width:100%;
    font-size:22px;
    color:white;
    background-color:#3C358D;
    padding:10px 0;
    border-radius: 48px 0 0 0;
    transition:800ms;
    cursor:pointer;
}

.cross{
    position:absolute;
    right:15px;
    top:15px;
    color:white;
    cursor:pointer;
    transition:800ms;
}

.dates{
    display:flex;
}

.dateList ul{
    list-style-type: none;
}

.dateList ul li{
    line-height: 2;
    font-weight:bold;
}
.dateList ul li:nth-child(3){
    padding:5px 0;
}

.events ul{
    list-style-type: none;
    padding-right:9px;
}

.events ul li{
    line-height: 2;
    text-align: left;
}

.events ul li:nth-child(3){
    line-height: 1;
    padding:5px 0;
}



.slider{
    overflow:hidden;
    position:relative;
    padding-bottom: 10px;
}
.slider div{
    position:relative;
    width:200%;
    margin:0;
    left:0;
    animation: 8s slider infinite;
}
.slider div img{
    float:left;
    width:50%;
    height:100vh;
    filter: brightness(0.5);
    
}

@keyframes slider{
    0% {
        left:0;
    } 
    45% {
        left:0;
    }
    50% {
        left:-100%;
    }
    95% {
        left:-100%;
    }
    100% {
        left:0;
    }

}

.headings{
    position:absolute;
    left:50%;
    top:40%; 
    text-align:center;
    transform:translate(-50%,-50%);
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
}
.headings h1{
    font-weight:bold;
}
.subHeading1, .subHeading2{
    position:absolute;
    text-align:center;
    top:75%;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
}
.subHeading1{
    left:5%;
}
.subHeading2{
    right:5%;
}




.container{
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}
.aboutCollege img{
    float:left;
    width:100px;
    height:100px;
    padding:50px 0 0 100px;
}
.aboutCollege h1{
    float:right;
    padding:50px 100px 0 0;
    color: #0E7AC4
}
.aboutCollege section{
    padding:190px 100px 50px 100px;
    text-align:justify;
    color:black;
    font-size: 18px;
}

.aboutDept h1{
    float:left;
    padding:50px 0 0 100px;
    color: #0E7AC4;
}
.aboutDept img{
    float:right;
    padding:50px 100px 0 0;
    width:150px;
    height:100px;
}
.aboutDept section{
    padding:190px 100px 40px 100px;
    text-align:justify;
    color:black;
    font-size: 18px;

}


.aboutCon h1{
    color:#0E7AC4;
    text-align: center;
    padding:40px 0 0px 0;
}
.aboutCon section{
    text-align:justify;
    color:black;
    font-size:18px;
    padding: 40px 100px 50px 100px;
}

/* Media Queries */

@media(max-width:858px){
    .headings h1{
        font-size:98%;
    }
    .headings h3{
        font-size:98%;
    }
    .subHeading1 h3{
        font-size:98%;
    }
    .subHeading1 h2{
        font-size:98%;
    }
    .subHeading2 h3{
        font-size:98%;
    }
    .subHeading2 h2{
        font-size:98%;
    }



    .aboutCollege img{
        width:70px;
        height:70px;
        padding:20px 0 0 50px;
    }
    .aboutCollege h1{
        font-size:22px;
        padding:25px 50px 0 0;
    }
    .aboutCollege section{
        padding:110px 50px 60px 50px;
        font-size:16px;
    }


    .aboutDept h1{
        font-size:22px;
        padding:10px 0 0 50px;
    }
    .aboutDept img{
        width:110px;
        height:70px;
        padding:5px 45px 0 0;
    }
    .aboutDept section{
        padding:110px 50px 60px 50px;
        font-size:16px;
    }

}

/* navbar responsive */

@media screen and (max-width: 985px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }
    .show-menu-btn{
        position:absolute;
        right:40px;
    }
    .menu{
        position:relative;
        width:100%;
        height:250px;
        background: #A42A2E;
        /* right:-100%; */
        left:0;
        top:0px;
        text-align:center;
        padding:80px 0;
        line-height:normal;
        transition:700ms;
        z-index:1;
        transform:scaleY(0);
        transform-origin: top;
    }
    .menu a{
        display:block;
        padding:20px;
    }
    .hide-menu-btn{
        position:absolute;
        top:25px;
        right:37px;
    }
    #chk:checked ~ .menu{
        right:0;
        transform:scaleY(1);
        transform-origin: top;
    }
}
