html{
	height: 100%;

}
body{
    margin: auto;
}
.parallax{
	background:url('img/college.jpeg') no-repeat center;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

.mainpage{
    display: block;
    height: 768px;
    overflow: hidden;
    margin:0;

}

html{
	height: 100%;

}
body{
    margin: auto;
}

.collegeLogo{
    position:relative;
    left:50%;
    transform:translate(-50%);
    width:180px;
    height:55px;
}

nav{
    height:50px;
    background-color:#A42A2E;
}
.menu{
    /* float:right; */
    position:absolute;
    right:27%;
    line-height:20px;
}
.menu a{
    color:#FBFF49;
    text-decoration:none;
    padding:0 25px;
    
}
.show-menu-btn, .hide-menu-btn{
    transition:400ms;
    color:white;
    cursor:pointer;
    display:none;
}
.show-menu-btn{
    float:right;
}
.show-menu-btn i{
    line-height: 55px;
}
#chk{
    position:absolute;
    visibility:hidden;
    z-index: -1111;
}

/* popup */

.popup{
    width:400px;
    height:250px;
    background-color:white;
    position:fixed;
    right:0;
    bottom: 0;
    z-index:99;
    border-radius:48px 48px 48px 48px;
    margin-right:10px;
    transition: 800ms;
}
.popupHeading{
    text-align:center;
    font-weight:bold;
    width:100%;
    font-size:22px;
    color:#FBFF49;
    background-color:#A42A2E;
    padding:10px 0;
    border-radius: 48px 0 0 0;
    transition:800ms;
    cursor:pointer;
}

.cross{
    position:absolute;
    right:15px;
    top:15px;
    color:white;
    cursor:pointer;
    transition:800ms;
}

.dates{
    display:flex;
}

.dateList ul{
    list-style-type: none;
}

.dateList ul li{
    line-height: 2;
    font-weight:bold;
}
.dateList ul li:nth-child(3){
    padding:5px 0;
}

.events ul{
    list-style-type: none;
    padding-right:9px;
}

.events ul li{
    line-height: 2;
    text-align: left;
}
.events ul li:nth-child(3){
    line-height: 1;
    padding:5px 0;
}


.parallax{
	background:url('img/college.jpeg') no-repeat center;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

.mainpage{
    display: block;
    height: 768px;
    overflow: hidden;
    margin:0;

}
.abti{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 200px;
}

.abtd{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 200px;
}

.abtc{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 10px;

}

 .para {
     height: 600px;
     text-align: justify;
     text-justify: inter-word;
     font-size: 25px;
     text-space:20px;
     margin-left: 150px;
     margin-right: 50px;
     top: 50%;

     justify-content:space-between;

}

.para1 {
    height: 600px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
    text-space:20px;
    margin-left: 70px;
    margin-right: 150px;
    top: 50%;
    justify-content:space-between;
}
.para2 {
     height: 600px;
     text-align: justify;
     text-justify: inter-word;
     font-size: 25px;
     text-space:20px;
     margin-left: 50px;
     margin-right: 50px;
     top: 50%;
     justify-content:space-between;
 }


.column {
    float: left;
    width: 50%;
}


.mainpage .row{
    color: white;
    justify-content:space-between;
}






footer{
  position:relative;
  height: 100vh;
  width: 100%;
  display:block;
}
footer::before{
  background: url('img/college logo.svg') repeat;
  opacity:1;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom:0px;
  left:0px;
}
header{
    text-align: center;
    background-color: #ffffff;
    height: 100px;
    align-content: center;

}
.navtabs{
    text-decoration: none;
    color: #FBFF49;
    padding: 25px;
    text-align: center;
}
.navtabhome{
	color: #ffffff;
	text-decoration: none;
	padding: 25px;
}
.nav table{
	border-spacing: 100px;
}
.ieeelogo{
    padding: 5px;
    float:right;
    margin-left: auto;

    height: 40px;
}
.div-main1{
    height: 500px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
    justify-items: center;
    color: #C0C0C0;
    padding: 65px;
}
.box {
     /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

.center{

    top:50%;
}

table{
	padding: 10px;

}
.div-main3{
    padding: 25px;
}
.gallogo{
   	float: left;
    margin-top: 50px;
   	height: 120px;
}
.about-institute{
   	margin-left: 80px;
   	text-align: justify;
    margin-top: 100px;
}
h2.about-institute{
   	text-align: right;
   	padding-bottom: 40px;
}
h2{
   	color: darkblue;
    opacity: 2;
}
.about-department{
	text-align: justify;
	margin-right: 80px;
}        
.about-conference{
	text-align: justify;
	padding-bottom: 100px;
}
h2.about-conference{
	text-align: center;
}



.abti{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 200px;
}

.abtd{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 200px;
}

.abtc{
    display: flex;
    height: 768px;
    overflow: hidden;
    padding-bottom: 10px;

}

 .para {
     height: 600px;
     text-align: justify;
     text-justify: inter-word;
     font-size: 25px;
     text-space:20px;
     margin-left: 150px;
     margin-right: 50px;
     top: 50%;

     justify-content:space-between;

}

.para1 {
    height: 600px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
    text-space:20px;
    margin-left: 70px;
    margin-right: 150px;
    top: 50%;
    justify-content:space-between;
}
.para2 {
     height: 600px;
     text-align: justify;
     text-justify: inter-word;
     font-size: 25px;
     text-space:20px;
     margin-left: 50px;
     margin-right: 50px;
     top: 50%;
     justify-content:space-between;
 }


.column {
    float: left;
    width: 50%;
}


.mainpage .row{
    color: white;
    justify-content:space-between;
}




footer{
  position:relative;
  height: 100vh;
  width: 100%;
  display:block;
}
footer::before{
  background: url('img/college logo.svg') repeat;
  opacity:1;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom:0px;
  left:0px;
}
header{
    text-align: center;
    background-color: #ffffff;
    height: 100px;
    align-content: center;

}
.navtabs{
    text-decoration: none;
    color: #FBFF49;
    padding: 25px;
    text-align: center;
}
.navtabhome{
	color: #ffffff;
	text-decoration: none;
	padding: 25px;
}
.nav table{
	border-spacing: 100px;
}
.ieeelogo{
    padding: 5px;
    float:right;
    margin-left: auto;

    height: 40px;
}
.div-main1{
    height: 500px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
    justify-items: center;
    color: #C0C0C0;
    padding: 65px;
}
.box {
     /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

.center{

    top:50%;
}

table{
	padding: 10px;

}
.div-main3{
    padding: 25px;
}
.gallogo{
   	float: left;
    margin-top: 50px;
   	height: 120px;
}
.about-institute{
   	margin-left: 80px;
   	text-align: justify;
    margin-top: 100px;
}
h2.about-institute{
   	text-align: right;
   	padding-bottom: 40px;
}
h2{
   	color: darkblue;
    opacity: 2;
}
.about-department{
	text-align: justify;
	margin-right: 80px;
}        
.about-conference{
	text-align: justify;
	padding-bottom: 100px;
}
h2.about-conference{
	text-align: center;
}

